<div class="col-sm-12 category-header">
    <div class="col-sm-4">
        <h3 class="highlights">{{category.category.name}}</h3>
        <p class="description">
            {{category.category.description}}
        </p>
    </div>
    <div class="col-sm-8" style="padding-right: 0px">
        <img ng-src="{{category.category.image}}" class="pull-right" alt="">
    </div>
</div>

<div class="col-sm-12">
    <div class="row">
        <a class="col-sm-3 div-product" ng-href="#!product/{{product.id}}" ng-repeat="product in category.category.products">
            <div style="display: block" class="product">
                <img ng-src="{{product.image}}">
                <span ng-if="product.status == 'promotion'" class="badge">QUEIMA DE ESTOQUE!</span>
                <p>{{product.name}}</p>
                <p><strong>{{product.price | currency:"R$ "}}</strong></p>
            </div>
        </a>
    </div>
</div>
