<div class="container">
		<div style="height: 305px">
			<div uib-carousel active="home.active" interval="homwe.myInterval" no-wrap="noWrapSlides">
				<div uib-slide ng-repeat="slide in home.slides track by slide.id" index="slide.id">
				<img ng-src="{{slide.image}}" style="margin:auto;">
					<div class="carousel-caption">
				  		<h4>Slide {{slide.id}}</h4>
				  		<p>{{slide.text}}</p>
					</div>
				  </div>
			</div>
		</div>

	<div class="row">
		<div class="marketing">
			<div class="col-sm-12 categories">
				<h2 class="text-center">Confira os novos produtos da Mobly por Categoria</h2>
				<div class="col-sm-4" style="margin:20px 0px" ng-repeat="category in home.categories ">
					<a ng-href="#!category/{{category.id}}">
						<img ng-src="{{category.image}}" title="{{category.name}}">
					</a>
				</div>
			</div>
		</div>
	</div>
</div>


