<div class="container">
    <div class="col-sm-8">
        <div class="product-title">
            <h1> {{product.product.name}} </h1>
            <p>Preço: a vista {{product.product.price | currency:"R$ "}}</p>
            <span ng-if="product.product.status == 'promotion'" class="badge">QUEIMA DE ESTOQUE!</span>
        </div>
        <div class="product-image">
            <img ng-src="{{product.product.image_preview}}" title="{{product.product.name}}">
            <p>*Imagens meramente ilustrativas</p>
        </div>
        <div class="row">
            <div class="col-sm-12" name="description">
                <h2 class="title" style=>Por que Comprar?</h2>
                {{product.product.description}}
            </div>
        </div>
        <hr/>
    </div>
    <div class="col-sm-4">
        <div class="row">
            <div class="col-sm-9" style="padding:0px">
                <button type="button" class="btn btn-success" style="width: 100%; " ng-click="product.addCart()">Adicionar ao carrinho</button>
            </div>
            <div class="col-sm-3 form-group">
                <select name="qtd" ng-model="product.qtd" class="form-control" style="height: 48px;" ng-options="itemAmount.select as itemAmount.label for itemAmount in product.amount"></select>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12" style="margin-top:20px">
                <h4 class="detail"> Características:</h4>
                <ul class="characteristics">
                    <li class="characteristic-item" ng-repeat="characteristic in product.product.characteristics">
                        <i class="characteristic-icon {{characteristic.icon}}"></i> <strong>{{characteristic.name}}:</strong> {{characteristic.value}}
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>